body{
	background: map-get($bg_color, lineBg);
}

main {
	width: 100%;
	min-height: 100%;
	padding: 160px 0 24px;

	@include mw_sm {
		padding: 56px 0 120px;
	}
}

.slogan {
	text-align: center;
	margin-bottom: 100px;

	h1{
		width: 200px;
		height: 150px;
		background: url(../images/icon_logo.svg) no-repeat center / contain;
		color: transparent;
		margin: auto auto 16px;

		@include mw_xs{
			width: 150px;
			height: 100px;
		}
	}
	h2 {
		@extend %txtshadow;
		font-family: 'ethnocentric', serif;
		font-size: 40px;
		letter-spacing: 3px;

		&+h2{
			margin-top: 12px;
		}


		@include mw_sm {
			font-size: 24px;
			letter-spacing: 0;
		}
	}
}

.info{
	@include d_f(flex, center, center);
	flex-direction: column;
	

	li{
		
		font-size: 14px;
		margin-bottom: 40px;

		@include hoverHandler {
			opacity: .5;
		}
	}
	a{
		@include d_f(flex, center, center);
		flex-direction: column;
		text-align: center;
	}

	i{
		position: relative;
		width: 40px;
		height: 40px;
		background-color: map-get($bg_color, secondary02);
		background-size: 20px;
		border-radius: 100%;
		margin-bottom: 16px;
		

		@include mw_sm {
			width: 30px;
			height: 30px;
		}
	}

}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 24px;
	background: map-get($bg_color, primary);
	color: map-get($txt_color, white);
	font-size: 12px;
	text-align: center;

	code{
		display: none;

		@include mw_sm{
			display: block;
			font-weight: bold;
		}
	}

	span{
		@include pos_a(br, -5px, -24px);
		display: block;
		padding: 12px 50px;
		background: map-get($bg_color, primary);
		border-radius: 5px;
		border: 3px solid map-get($bg_color, secondary);
		border-left-width: 4px;
		transform: skewX(-45deg);

		@include mw_sm{
			display: none;
		}

		&::before{
			content: attr(data-txt);
			display: block;
			font-size: 14px;
			transform: skewX(45deg);
		}
	}
}
